<div id="notebook">
  <h2 class="scramble">Notatki</h2>
  <form id="noteForm">
    <label for="noteTitle">Tytuł:</label>
    <input [(ngModel)]="title" class="text-box" id="noteTitle" name="title" required
           title="Tutaj wprowadź tyłuł swojej notatki" type="text"/><br/>

    <label for="noteContent">Treść:</label>
    <input [(ngModel)]="desc" class="text-box" id="noteContent" name="con" required
           title="Tutaj wprowadź treść swojej notatki" type="text"/><br/>

    <input (click)="OnSubmit()" class="btn" title="Kliknij tutaj aby zapisać notatkę" type="submit" value="Zapisz"/>
    <input class="btn" title="Kliknij tutaj aby wyczyścić formularz" type="reset" value="Wyczyść">
  </form>
</div>

<div id="accordion">
  <ng-container *ngFor="let note of notes; let i=index">
    <div>
      <h3 class="noteTitle">{{note.title}}</h3>
      <button (click)="RemoveNote(i)" class="removeBtn">X</button>
    </div>
    <div>{{note.content}}</div>
  </ng-container>
</div>

<div [style.display]="isDialogInitialized?'block':'none'" id="dialog" title="Błąd!">
  Pola tego formularza nie mogą być puste.
</div>
